.main__box__individual {
  width: calc(100% / 2 - 2rem - 2rem);
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
  padding: 1rem;
  margin: 2rem;
  position: relative;
  float: left;

  &-top {
    position: relative;
    margin: -1rem -1rem 1rem;
    background: $c-red;
    text-align: left;
  }

  &-title {
    display: inline-block;
    padding-left: 3rem;
    align: left;
  }
}

.btn {
  display: block;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin: 0;
  padding: 1rem;
  transform: translate(-50%, 50%);
  border: 0;
  background: $c-black;
  color: $c-white;
}
