.main {
  display: flex;

  &__box {
    display: flex;
    flex-wrap: wrap;
    min-width: 20rem;
  }
}

.main__box__individual {
  position: relative;
  flex-grow: 1;
  flex-wrap: wrap;
  width: calc(100% / 2 - 2rem - 2rem);
  min-width: 15rem;
  margin: 2rem;
  padding: 1rem;
  float: left;
  box-shadow: 0.2rem 0.2rem 0.4rem $c-shadow;

  &-top {
    position: relative;
    margin: -1rem -1rem 1rem;
    background: $c-red;
    text-align: left;
  }

  &-title {
    display: inline-block;
    padding-left: 3rem;
    align: left;
  }
}

.btn {
  display: block;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin: 0;
  padding: 1rem;
  transform: translate(-50%, 50%);
  border: 0;
  background: $c-black;
  color: $c-white;
}
