.picturebox {
  margin-top: 5rem;
  flex-grow: 1;

  &__ind {
    display: flex;

    justify-content: center;

    &-small {
      width: calc(100% * 1 / 3 - 2rem);
      margin: 0.5rem;
    }

    &-large {
      width: calc(100% * 2 / 3 - 2rem);
      margin: 0.5rem;
    }
  }
}

.photo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25rem;
  object-fit: cover;
}
