.picturebox {
  margin-top: 5rem;


  &__top {
    display: flex;
    justify-content: center;

    &-small {
      width: calc(100% * 1 / 4 - 2rem);
      margin: 0.5rem;
    }

    &-large {
      width: calc(100% * 3 / 4 - 2rem);
      margin: 0.5rem;
    }
  }
}
