.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 0;
  background: $c-blue;

  &__txt {
    color: $c-black;
  }

  &__tag {
    color: $c-white;
    text-align: center;
  }
}
