.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 0;
  background: blue;

  &__txt {
    color: black;
  }

  &__tag {
    color: white;
    text-align: center;
  }
}
