.navbar {
  background: $c-black;

  &__title {
    margin: 0;
    color: $c-white;

  }

  &__flex {

    display: flex;
    align-content: center;
    justify-content: space-between;
  }

  &__tab-list {
    padding: 1rem;
    vertical-align: center;
  }

  &__tab-item {
    padding: 0 1rem;
    color: $c-white;
    font-weight: lighter;
    text-decoration: none;
  }
}
