// In styles/section.scss:
//
// > +  &__item {
// +    flex-basis: calc(100% / 2 - 2rem);
// +    flex-grow: 1;
// +    min-width: 15rem;
// +    margin: 1rem;
// +
// +    &--25 {
// +      border: 0.1rem solid $c-black;
// +    }
// +  }
// +  @media (max-width: 580px) {
// +    &__flip {
// +      flex-direction: column-reverse;
// +    }
// +
// +    &__item--75 {
// These flex-basis should probably be set when the screen is at least larger than tablet to get the 75/25 effect on desktop screens.
//
// Right now you are setting this when 580px and below which is on mobile and since the rows at that point are in columns, the flex-basis isn't doing much.
//


.section {
  display: flex;
  margin: 0 auto;
  padding: 1rem;

  &__header {
    margin: 3rem;
    text-align: center;
  }
}

.row {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  margin: 2rem -1rem;

  &__item {
    flex-grow: 1;
    min-width: 15rem;
    margin: 1rem;

    &-pic {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--25 {
      width: calc(100% * 1 / 4 - 3.5rem);
      border: 0.1rem solid $c-black;
    }
    &--75 {
      width: calc(100% * 3 / 4 - 3.5rem);

    }
  }
  @media (max-width: 480px) {
    &__flip {
      flex-direction: column-reverse;
    }

    &__item--75 {
      flex-basis: calc(100% * 2 / 3 - 2rem);
    }

    &__item--25 {
      flex-basis: calc(100% * 1 / 3 - 2rem);
    }
  }
}
