.section {
  margin: 0 auto;

  &__header {
    margin: 3rem;
    text-align: center;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    margin: 5rem 2rem;

    // border: 4px solid black;

    &-text {
      align-self: flex-end;

      &-head {
        font-size: 2rem;
        font-weight: bold;

      }

      &-text {
        }

    }

    &-img {
      border: 0.5rem solid $c-black;
    }
  }
}
